HEAD
### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Archivos compilados de Java
*.class

# Archivos temporales
*.swp

# Archivos del IDE IntelliJ IDEA
.idea/
*.iml
out/
6e24a1159f44c16ae19bda86f31c42cf5fec78c6
